/* Import FONT*/
@import url('https://fonts.googleapis.com/css?family=Montserrat');
$bg: #03030D;
$fontMain: #EFEFEF;
$fontFaded: #747474;

body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
/*
NAVIGATION
*/
#navbar {
    z-index: 4;
    display: grid;
    min-height: 80px;
    grid-auto-flow: column;
    grid-gap: 20px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: $bg;
    #logo {
        display: grid;
        justify-content: start;
        align-content: center;
        font-size: 18px;
        a {
            color: $fontMain;
            text-decoration: none;
        }
    }
    #nav {
        display: grid;
        justify-content: end;
        align-content: center;
        grid-auto-flow: column;
        grid-gap: 30px;
        font-size: 14px;
        a {
            color: $fontMain;
            text-decoration: none;
        }
    }
}
/*
01 HOME
*/
.homeContent {
    background-color: $bg;
}
.mainContainer {
.mainContent {
    display: grid;
    padding-bottom: 10px;
    background-color: $bg;
    grid-auto-flow: column;
    grid-template-columns: 10% 40% 50%;
    .socialLinks {
        padding-top: 100px;
        z-index: 3;
        display: grid;
        justify-content: start;
        align-content: center;
        grid-auto-flow: row;
        grid-gap: 15px;
        a:hover {
            -webkit-transition: .2s; /* Safari */
            transition: .2s;
            -ms-transform: rotate(20deg); /* IE 9 */
            -webkit-transform: rotate(20deg); /* Safari 3-8 */
            transform: rotate(20deg);
        }
        .lineVertical {
            padding-left: 10px;
        }
        p {
            display: grid;
            justify-content: start;
            align-content: center;
            grid-auto-flow: row;
            padding-left: 7px;
            color: $fontFaded;
            font-size: 12px;
            writing-mode: vertical-rl;
            text-orientation: mixed;
        }
    }
    .mainLeft {
        padding-top: 100px;
        display: grid;
        justify-content: start;
        align-content: center;
        grid-auto-flow: row;
        grid-gap: 30px;
        .mainLeftContent {
            z-index: 2;
            display: grid;
            justify-content: start;
            align-content: center;
            grid-auto-flow: row;
            grid-gap: 15px;
            .welcomeText {
                font-size: 50px;
                color: $fontMain;
            }
            .welcomeParagraph {
                font-size: 18px;
                color: $fontFaded;
            }
        }
    }
    .mainRight {
        z-index: 1;
        display: grid;
        justify-content: end;
        padding-top: 50px;
        grid-auto-flow: row;
    }
}
}
/* ARROW */
.arrowDown {
    z-index: 10;
    position: absolute;
    left: 50%;
    right: 50%;
    margin-top: -110px;
    img {
        width: 25px;
    &:hover {
        cursor: pointer;
    }
    }
}
/*
02 PROJECTS
*/
#projects-container {
    .projectWrapper {
        .projectsTitle {
            width: 100%;
            text-align: center;
            p {
                padding-top: 40px;
                font-size: 40px;
                font-weight: 100;
            }
        }
        #root {
            z-index: 3;
            padding-top: 10px;
            background-color: #fff;
        }
    }
    .gh-title {
        width: 100%;
        text-align: center;
        padding: 20px;
        i {
            font-size: 30px;
            font-weight: 100;
        }
    }
    .ghSeperate {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 70% 30%;
        padding-top: 5px;
        padding-bottom: 50px;
    .ghContribution {
        z-index: 1;
        display: grid;
        justify-content: start;
        align-content: center;
        grid-auto-flow: row;
        .calendar {
            background-color: #fff;
        }
    }
    .projectIllustration {
        .numberTwoIllustration {
            z-index: -1;
            display: grid;
            justify-content: end;
            align-content: end;
            grid-auto-flow: row;
            margin-top: -50px;
        }
        .verticalLine2 {
            z-index: -1;
            display: grid;
            justify-content: start;
            align-content: end;
            grid-auto-flow: row;
            margin-top: -20px;
        }
    }
    }
}
/*
03 ABOUT
*/
#about-container {
    background-color: $bg;
    min-height: 500px;
    .about-title {
        padding: 30px;
        p {
            color: $fontMain;
            font-size: 40px;
            font-weight: 100;
        }
    }
}