@import url('https://fonts.googleapis.com/css?family=Montserrat');

body, html {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

body {
    font-size: 100%;
    width: 100%;
    display: gird;
    grid-template-columns: auto;
}

.container {
    padding: 2em;
    

    h1 {
        font-family: 'Montserrat', sans-serif;
        font-size: 5em;
        text-align: left;
        color: rgb(20, 20, 20);
        border-bottom: 3px solid rgb(80, 80, 80);
        width: 500px;
        max-width: 500px;
    }

        /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
        @media screen and (max-width: 600px) {
        h1 {
        font-size: 3.2em;
        width: 100%;
        max-width: 100%;
        }
    }


    span {
        text-align: left;
        font-size: 1.2em;
        color: rgb(80, 80, 80);
    }
}

svg {
    z-index: -1;
    position: absolute;
    width: 500px;
    align-self: center;
    justify-self: center;
    left: 700px;
    top: 80px;
}

#mainText {
    animation-duration: 1.2s;
    animation-name: animateSVG;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes animateSVG {
    from {
        transform: translateX(0) translateY(0);
    } to {
        transform: translateX(0) translateY(20px);
    }
}