/* Import FONT*/
@import url("https://fonts.googleapis.com/css?family=Montserrat");
body {
  margin: 0 auto;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

/*
NAVIGATION
*/
#navbar {
  z-index: 4;
  display: -ms-grid;
  display: grid;
  min-height: 80px;
  grid-auto-flow: column;
  grid-gap: 20px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #03030D;
}

#navbar #logo {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-line-pack: center;
      align-content: center;
  font-size: 18px;
}

#navbar #logo a {
  color: #EFEFEF;
  text-decoration: none;
}

#navbar #nav {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -ms-flex-line-pack: center;
      align-content: center;
  grid-auto-flow: column;
  grid-gap: 30px;
  font-size: 14px;
}

#navbar #nav a {
  color: #EFEFEF;
  text-decoration: none;
}

/*
01 HOME
*/
.homeContent {
  background-color: #03030D;
}

.mainContainer .mainContent {
  display: -ms-grid;
  display: grid;
  padding-bottom: 10px;
  background-color: #03030D;
  grid-auto-flow: column;
  -ms-grid-columns: 10% 40% 50%;
      grid-template-columns: 10% 40% 50%;
}

.mainContainer .mainContent .socialLinks {
  padding-top: 100px;
  z-index: 3;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-line-pack: center;
      align-content: center;
  grid-auto-flow: row;
  grid-gap: 15px;
}

.mainContainer .mainContent .socialLinks a:hover {
  -webkit-transition: .2s;
  /* Safari */
  transition: .2s;
  /* IE 9 */
  -webkit-transform: rotate(20deg);
  /* Safari 3-8 */
  transform: rotate(20deg);
}

.mainContainer .mainContent .socialLinks .lineVertical {
  padding-left: 10px;
}

.mainContainer .mainContent .socialLinks p {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-line-pack: center;
      align-content: center;
  grid-auto-flow: row;
  padding-left: 7px;
  color: #747474;
  font-size: 12px;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: mixed;
}

.mainContainer .mainContent .mainLeft {
  padding-top: 100px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-line-pack: center;
      align-content: center;
  grid-auto-flow: row;
  grid-gap: 30px;
}

.mainContainer .mainContent .mainLeft .mainLeftContent {
  z-index: 2;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-line-pack: center;
      align-content: center;
  grid-auto-flow: row;
  grid-gap: 15px;
}

.mainContainer .mainContent .mainLeft .mainLeftContent .welcomeText {
  font-size: 50px;
  color: #EFEFEF;
}

.mainContainer .mainContent .mainLeft .mainLeftContent .welcomeParagraph {
  font-size: 18px;
  color: #747474;
}

.mainContainer .mainContent .mainRight {
  z-index: 1;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding-top: 50px;
  grid-auto-flow: row;
}

/* ARROW */
.arrowDown {
  z-index: 10;
  position: absolute;
  left: 50%;
  right: 50%;
  margin-top: -110px;
}

.arrowDown img {
  width: 25px;
}

.arrowDown img:hover {
  cursor: pointer;
}

/*
02 PROJECTS
*/
#projects-container .projectWrapper .projectsTitle {
  width: 100%;
  text-align: center;
}

#projects-container .projectWrapper .projectsTitle p {
  padding-top: 40px;
  font-size: 40px;
  font-weight: 100;
}

#projects-container .projectWrapper #root {
  z-index: 3;
  padding-top: 10px;
  background-color: #fff;
}

#projects-container .gh-title {
  width: 100%;
  text-align: center;
  padding: 20px;
}

#projects-container .gh-title i {
  font-size: 30px;
  font-weight: 100;
}

#projects-container .ghSeperate {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -ms-grid-columns: 70% 30%;
      grid-template-columns: 70% 30%;
  padding-top: 5px;
  padding-bottom: 50px;
}

#projects-container .ghContribution {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-line-pack: center;
      align-content: center;
  grid-auto-flow: row;
}

#projects-container .projectIllustration .numberTwoIllustration {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -ms-flex-line-pack: end;
      align-content: end;
  grid-auto-flow: row;
  z-index: -1;
  margin-top: -50px;
}

#projects-container .projectIllustration .verticalLine2 {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-line-pack: end;
      align-content: end;
  grid-auto-flow: row;
}
/*# sourceMappingURL=style.css.map */