@import url("https://fonts.googleapis.com/css?family=Montserrat");
body, html {
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
  padding: 0;
}

#bgLogoContainer {
  width: 100%;
  position: absolute;
}

#bgLogoContainer .bgLogo {
  margin: 0 auto;
  width: 300px;
  height: auto;
}

#navBar {
  margin: 0 auto;
  width: 100%;
  position: absolute;
}

#navBar .logo {
  width: 100%;
}

#navBar .logo h2 {
  margin: 0 auto;
  padding: 0.5em;
  margin-left: 15px;
}

#navBar .logo a {
  text-decoration: none;
  color: #fff;
}

#navBar #navContainer {
  margin-left: 70%;
}

#navBar #navContainer ul {
  margin-top: -30px;
  padding: 0px;
  list-style: none;
}

#navBar #navContainer .navList {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  display: inline-block;
  padding: 0px 15px;
  color: #fff;
}

#navBar #navContainer a {
  text-decoration: none;
  color: #272727;
}

#navBar #navContainer a:hover {
  color: #E14B5A;
}

#navBar #navContainer .navLink {
  position: relative;
  display: inline-block;
}

#navBar #navContainer .navLink:after {
  content: '';
  position: absolute;
  width: 0;
  height: 3px;
  display: block;
  right: 0;
  background: #3f5efb;
  background: radial-gradient(circle, #3f5efb 0%, #fc466b 100%);
  transition: width .2s ease;
  -webkit-transition: width .2s ease;
}

#navBar #navContainer .navLink:hover:after {
  width: 100%;
  left: 0;
  background: #3f5efb;
  background: radial-gradient(circle, #3f5efb 0%, #fc466b 100%);
}

#navBar #navContainer .navLink:focus {
  border-bottom: 3px solid #3A1363;
  color: #E14B5A;
}

#frontTextHolder {
  position: absolute;
  top: 35%;
}

#frontTextHolder .frontText {
  margin-left: 20%;
}

#frontTextHolder h1 {
  font-weight: bold;
  color: #272727;
}

#frontTextHolder p {
  width: 90%;
  color: #474747;
}

#frontTextHolder .frontTextButton {
  margin-left: 145px;
  margin-top: 30px;
}

#frontTextHolder .frontTextButton .button {
  background-color: #3A1363;
  /* Green */
  border: none;
  border-radius: 50px;
  color: white;
  padding: 14px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

#frontTextHolder .frontTextButton .button1 {
  background-color: #E14B5A;
  color: white;
  border: 2px solid #E14B5A;
}

#frontTextHolder .frontTextButton .button1:hover {
  background-color: white;
  color: #E14B5A;
}

#frontTextHolder #iconContainer {
  position: absolute;
  left: 20%;
}

#frontTextHolder #iconContainer #linkedInContainer {
  margin-top: 25px;
}

#frontTextHolder #iconContainer #linkedInContainer .linkedIn:hover path {
  fill: #E14B5A;
}

#frontTextHolder #iconContainer #githubContainer {
  margin-top: -30px;
  margin-left: 50px;
}

#frontTextHolder #iconContainer #githubContainer .github:hover path {
  fill: #E14B5A;
}

#charContainer {
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 10%;
}

#charContainer .charHolder {
  margin-left: 40%;
}

#charContainer #charAnimation {
  width: 100%;
  height: 500px;
}
/*# sourceMappingURL=style.css.map */