/* Import FONT*/
@import url('https://fonts.googleapis.com/css?family=Montserrat');
$bg: #03030D;
$fontMain: #EFEFEF;
$fontSecondray: #c7c7c7;
$fontFaded: #747474;
$red: #DC3545;
$colorHover: #ADAFBC;
$colorMainWhite: #FFF;

/* RESET */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: $bg;
}

/*
FULL BODY WRAPPER HERE
*/  
#fullContent {
    display:none;
}

/*
LOADER STYLE
*/
.spinner {
    margin: 300px auto 0;
    width: 70px;
    text-align: center;
}

.spinner > div {
width: 18px;
height: 18px;
background-color: #fff;

border-radius: 100%;
display: inline-block;
-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
-webkit-animation-delay: -0.32s;
animation-delay: -0.32s;
}

.spinner .bounce2 {
-webkit-animation-delay: -0.16s;
animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
0%, 80%, 100% { -webkit-transform: scale(0) }
40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
} 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
}
}

/*
FULL BODY WRAPPER HERE
*/  
#fullContent {
    display:none;
}
/*
ANIMATION
*/ 
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from { bottom:-20px; opacity:0 } 
    to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
    from{ bottom:-20px; opacity:0 } 
    to{ bottom:0; opacity:1 }
}

/* NAVIGATION */
header {
    background-color: $bg;
    position: fixed;
    width: 100%;
    z-index: 5;
    padding-bottom: .5em;
    padding-top: .5em;
    //logo
    .logo {
      margin: 0;
      margin-left: 2em;
      margin-top: .5em;
      a {
        font-size: 18px;
        text-decoration: none;
        color: $colorMainWhite;
        &:hover {
          color: $colorHover;
        }
      }
    }
    //navToggle
    .navToggle {
      display: none;
      margin: 0;
      position: absolute;
      top: 0;
      right: 0;
      margin-right: 2em;
      margin-top: 1em;
      a {
        color: $colorMainWhite;
        &:hover {
          color: $colorHover;
        }
      }
    }
    //mainNav
    .mainNav {
      display: none;
      position: absolute;
      text-align: right;
      top: 100%;
      right: 0;
      background-color: $bg;
      width: 100%;
      nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
          margin-right: 2em;
          a {
            font-size: 14px;
            color: $colorMainWhite;
            text-decoration: none;
            text-transform: uppercase;
            &:hover {
              color: $colorHover;
            }
          }
        }
      }
    }
  }
/*
01 HOME
*/
.homeContent {
    background-color: $bg;
    padding-top: 80px;
}
.mainContainer {
.mainContent {
    display: grid;
    padding-bottom: 0px;
    background-color: $bg;
    grid-auto-flow: column;
    grid-template-columns: 10% 40% 50%;
    .socialLinks {
        padding-top: 100px;
        z-index: 3;
        display: grid;
        justify-content: start;
        align-content: center;
        grid-auto-flow: row;
        grid-gap: 15px;
        a:hover {
            -webkit-transition: .2s; /* Safari */
            transition: .2s;
            -ms-transform: rotate(20deg); /* IE 9 */
            -webkit-transform: rotate(20deg); /* Safari 3-8 */
            transform: rotate(20deg);
        }
        .lineVertical {
            padding-left: 10px;
        }
        p {
            margin-left: 1px;
            color: $fontFaded;
            font-size: 12px;
            writing-mode: vertical-rl;
            text-orientation: mixed;
        }
    }
    .mainLeft {
        padding-top: 100px;
        display: grid;
        justify-content: start;
        align-content: center;
        grid-auto-flow: row;
        grid-gap: 30px;
        .mainLeftContent {
            z-index: 2;
            display: grid;
            justify-content: start;
            align-content: center;
            grid-auto-flow: row;
            grid-gap: 15px;
            .welcomeText {
                font-size: 50px;
                color: $fontMain;
                font-family: 'Montserrat';
                font-weight: 900;
            }
            .welcomeParagraph {
                font-size: 18px;
                color: $fontFaded;
            }
        }
    }
    .mainRight {
        z-index: 1;
        display: grid;
        justify-content: end;
        padding-top: 50px;
        grid-auto-flow: row;
    }
}
}
/* ARROW */
.arrowDown {
    z-index: 3;
    position: absolute;
    left: 50%;
    right: 50%;
    margin-top: -110px;
    img {
        width: 25px;
    &:hover {
        cursor: pointer;
        -webkit-transition: .2s ease-in-out; /* Safari */
        transition: .2s ease-in-out;
        -ms-transform: scale(1.2,1.2); /* IE 9 */
        -webkit-transform: scale(1.2,1.2); /* Safari 3-8 */
        transform: scale(1.2,1.2);
    }
    }
}
/*
02 PROJECTS
*/
#fullProject {
    width: 100%;
    background-color: #fff;
}
#projects {
    .projectWrapper {
        .projectsTitle {
            width: 100%;
            text-align: center;
            p {
                padding-top: 40px;
                font-size: 40px;
                font-weight: 100;
            }
        }
        #root {
            z-index: 3;
            padding-top: 10px;
            background-color: #fff;
        }
    }
    .gh-title {
        width: 100%;
        text-align: center;
        padding: 20px;
        i {
            font-size: 30px;
            font-weight: 100;
        }
    }
    .ghSeperate {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 70% 30%;
        padding-top: 5px;
        padding-bottom: 50px;
    .ghContribution {
        z-index: 1;
        display: grid;
        justify-content: start;
        align-content: center;
        grid-auto-flow: row;
        .calendar {
            background-color: #fff;
        }
    }
    .projectIllustration {
        .numberTwoIllustration {
            z-index: -1;
            display: grid;
            justify-content: end;
            align-content: end;
            grid-auto-flow: row;
            margin-top: -50px;
        }
        .verticalLine2 {
            z-index: -1;
            display: grid;
            justify-content: start;
            align-content: end;
            grid-auto-flow: row;
            margin-top: -20px;
        }
    }
    }
}
/*
03 ABOUT
*/
#about {
    background-color: $bg;
    min-height: 700px;
    background: url("../images/svg/aboutBackground.svg") no-repeat;
    background-color: $bg;
    background-position: center;
    background-position-y: 150px;
    .about-title {
        padding: 40px;
        p {
            color: $fontMain;
            font-size: 40px;
            font-weight: 100;
        }
    }
    .bgAbout {
        width: 100%;
        height: auto;
        padding-top: 40px;
    }
    .aboutContent {
        display: grid;
        min-height: 80px;
        grid-auto-flow: column;
        grid-gap: 20px;
        .aboutLeft {
            display: grid;
            justify-content: start;
            align-content: start;
            grid-auto-flow: row;
            margin-top: -40px;
            .aboutTitle {
                p {
                    font-size: 50px;
                    color: $fontMain;
                    font-family: 'Montserrat';
                    font-weight: 900;
                }
            }
            .aboutGreet {
                p {
                    width: 57%;
                    font-size: 18px;
                    color: $fontFaded;
                }
            }
            .aboutLanguages {
               p {
                   margin: 0 auto;
                   color: $fontFaded;
               }
            }
            .aboutUse {
                padding-top: 30px;
                p {
                    color: $fontSecondray;
                    font-size: 25px;
                    font-weight: 700;
                }
                img {
                    padding: 5px;
                    &:hover {
                        -webkit-transition: .2s ease-in-out; /* Safari */
                        transition: .2s ease-in-out;
                        -ms-transform: scale(1.1,1.1); /* IE 9 */
                        -webkit-transform: scale(1.1,1.1); /* Safari 3-8 */
                        transform: scale(1.1,1.1);
                    }
                }
            }
            .myEmail {
                padding-top: 20px;
                p {
                    color: $fontSecondray;
                }
            }
        }
        .aboutRight {
            display: grid;
            justify-content: end;
            grid-auto-flow: row;
            grid-gap: 30px;
            padding-right: 10px;
            width: 100%;
            margin-top: -100px;
            img {
                width: 366px;
                height: auto;
            }
        }
    }
}

/*
04 CONTACT
*/
#contact {
    width: 100%;
    background-color: #fff;
    padding-bottom: 20px;
    .contact-title {
        padding: 40px;
        p {
            font-size: 40px;
            font-weight: 100;
        }
}
}
.mainContact {
    width: 100%;
}
  textarea {
	resize: none;
}
.form-label {
	font-size: 12px;
	color: #5e9bfc;
	margin: 0;
	display: block;
	opacity: 1;
	-webkit-transition: .333s ease top, .333s ease opacity;
	transition: .333s ease top, .333s ease opacity;
}
.form-control {
	border-radius: 0;
	border-color: #ccc;
   	border-width: 0 0 2px 0;
   	border-style: none none solid none;
   	box-shadow: none;
}
.form-control:focus {
	box-shadow: none;
	border-color: #5e9bfc;
}
.js-hide-label {
	opacity: 0; 	
}
.js-unhighlight-label {
	color: #999 
}
.btn-start-order {
	background: 0 0 #ffffff;
    border: 1px solid #2f323a;
    border-radius: 3px;
    color: #2f323a;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: inherit;
    margin: 30px 0;
    padding: 10px 50px;
    text-transform: uppercase;
    transition: all 0.25s ease 0s;
}
.btn-start-order:hover,.btn-start-order:active, .btn-start-order:focus {
	border-color: #5e9bfc;
	color: #5e9bfc;
}

/************************************
*                                   *
*           MEDIA QUERY             *
*                                   *
*************************************/

/**
NAVIGATION MOBILE
**/
  @media screen and (max-width: 768px) and (min-width: 320px) {
    //start
    header {
      //navToggle
      .navToggle {
        display: block;
        padding-top: 2px;
      }
      //mainNav
      .mainNav {
        display: none;
      }
      .responsive {
        display: block;
      }
    }
    
    //end
  }
/**
HOME CONTENT MOBILE
**/
  @media screen and (max-width: 425px) and (min-width: 320px) {
  .homeContent {
    width: 100%;
    overflow-x: hidden;
    text-align: center;
    .mainContainer {
        .mainContent {
            width: 100%;
            display: grid;
            grid-auto-flow: row !important;
            grid-template-columns: 100% !important;
            grid-gap: 0px !important;
            .socialLinks {
                order: 3;
                grid-auto-flow: column;
                justify-content: center;
                margin-top: -100px;
                a {
                    margin: 10px;
                    img {
                        width: 30px;
                        height: auto;
                    }
                }
                .lineVertical {
                    display: none;
                }
                p {
                    display: none;
                }
            }
            .mainLeft {
                order: 2;
                margin-top: -90px;
                .welcomeParagraph {
                    margin-top: -10px;
                }
                img {
                    margin-top: -100px;
                    display: none;
                }
            }
            .mainRight {
                order: 1;
                margin-top: -50px;
                padding-bottom: 0px;
                img {
                    width: 500px;
                    height: auto;
                }
            }
        }
    }
}
    .arrowDown {
        z-index: 1000;
        margin-top: 20px;
        position: static;
        display: grid;
        align-items: center;
        justify-content: center;
        padding-top: 30px;
        padding-bottom: 50px;
    }
}

/**
PROJECT SECTION MOBILE / TABLET
**/
@media screen and (max-width: 768px) and (min-width: 320px) {
    #fullProject {
        #projects {
           .gh-title {
               display: none;
           } 
           .ghSeperate {
               display: none;
           }
        }
    }
}

/**
ABOUT SECTION MOBILE / TABLET
**/
@media screen and (max-width: 768px) and (min-width: 320px) {
    #about {
        background: none;
        .aboutWrapper {
            padding-bottom: 50px;
            .aboutContent {
            position: static;
            width: 100%;
            display: grid;
            grid-auto-flow: row !important;
            grid-template-columns: 100% !important;
            grid-gap: 0px !important;
            .aboutLeft {
                order: 1;
                justify-content: center;
                text-align: center;
                width: 100%;
                .aboutGreet {
                    p {
                    width: 100%;
                    position: static;
                    justify-content: center;
                    align-content: center;
                }
                }
            }
            .aboutRight {
                order: 0;
                padding-top: 30px;
                padding-bottom: 50px;
                justify-content: center;
                img {
                    width: 270px;
                    height: auto;
                }
            }
        }
        }
    }
}

/**
NAVIGATION PC/TAB
**/
@media screen and (max-width: 2560px) and (min-width: 769px) {
    header {
      display: grid;
      grid-auto-flow: column;
      grid-template-columns: 50% 50%;
      //navToggle
      .navToggle {
        display: none;
      }
      //mainNav
      .mainNav {
        display: block;
        position: static;
        nav ul {
          display: grid;
          grid-auto-flow: column;
          grid-template-columns: 3fr;
          grid-gap: 40px;
          margin-right: 2em;
        li {
          margin: 0;
          margin-top: .5em;
        }
      }
      }
      .responsive {
        display: block;
      }
    }
    #fullProject {
        width: 100%;
        overflow-x: hidden;
        #projects {
            width: 100%;
        }
    }
  }