.st0{enable-background:new    ;}
.st1{clip-path:url(#SVGID_2_);enable-background:new    ;}
.st2{fill:#909090;}
.st3{fill:#8B8B8B;}
.st4{fill:#878787;}
.st5{fill:#828282;}
.st6{fill:#7D7D7D;}
.st7{clip-path:url(#SVGID_4_);enable-background:new    ;}
.st8{fill:#797979;}
.st9{fill:#9F9F9F;}
.st10{clip-path:url(#SVGID_6_);enable-background:new    ;}
.st11{fill:#949494;}
.st12{fill:#D9D9D9;}
.st13{fill:#C7C7C7;}
.st14{clip-path:url(#SVGID_8_);enable-background:new    ;}
.st15{fill:#201F1D;}
.st16{fill:#1F1E1C;}
.st17{fill:#1E1D1C;}
.st18{fill:#1D1D1B;}
.st19{fill:#1D1C1A;}
.st20{fill:#1C1B1A;}
.st21{fill:#1B1B19;}
.st22{fill:#1B1A18;}
.st23{fill:#1A1918;}
.st24{fill:#191817;}
.st25{fill:#191816;}
.st26{fill:#181716;}
.st27{fill:#171615;}
.st28{fill:#161614;}
.st29{fill:#161514;}
.st30{fill:#151413;}
.st31{fill:#141413;}
.st32{clip-path:url(#SVGID_10_);enable-background:new    ;}
.st33{fill:#21201E;}
.st34{clip-path:url(#SVGID_12_);enable-background:new    ;}
.st35{fill:#121110;}
.st36{clip-path:url(#SVGID_14_);enable-background:new    ;}
.st37{fill:#121211;}
.st38{clip-path:url(#SVGID_16_);enable-background:new    ;}
.st39{fill:#141312;}
.st40{fill:#131211;}
.st41{clip-path:url(#SVGID_18_);enable-background:new    ;}
.st42{clip-path:url(#SVGID_20_);enable-background:new    ;}
.st43{clip-path:url(#SVGID_22_);enable-background:new    ;}
.st44{clip-path:url(#SVGID_24_);enable-background:new    ;}
.st45{fill:#3D3D3B;}
.st46{fill:#232220;}
.st47{fill:#22211F;}
.st48{clip-path:url(#SVGID_26_);enable-background:new    ;}
.st49{clip-path:url(#SVGID_28_);enable-background:new    ;}
.st50{fill:#131312;}
.st51{clip-path:url(#SVGID_30_);enable-background:new    ;}
.st52{fill:#484846;}
.st53{clip-path:url(#SVGID_32_);enable-background:new    ;}
.st54{clip-path:url(#SVGID_34_);enable-background:new    ;}
.st55{clip-path:url(#SVGID_36_);enable-background:new    ;}
.st56{clip-path:url(#SVGID_38_);enable-background:new    ;}
.st57{fill:#51504E;}
.st58{fill:#585756;}
.st59{fill:#5E5D5C;}
.st60{fill:#646362;}
.st61{fill:#696867;}
.st62{fill:#6E6D6C;}
.st63{fill:#727270;}
.st64{fill:#767675;}
.st65{fill:#7B7A79;}
.st66{fill:#7E7E7D;}
.st67{fill:#828280;}
.st68{fill:#868584;}
.st69{fill:#898988;}
.st70{fill:#8D8C8B;}
.st71{fill:#908F8E;}
.st72{fill:#939392;}
.st73{fill:#969695;}
.st74{fill:#999998;}
.st75{fill:#42413F;}
.st76{fill:#645F5F;}
.st77{clip-path:url(#SVGID_40_);enable-background:new    ;}
.st78{clip-path:url(#SVGID_42_);enable-background:new    ;}
.st79{clip-path:url(#SVGID_44_);enable-background:new    ;}
.st80{clip-path:url(#SVGID_46_);enable-background:new    ;}
.st81{clip-path:url(#SVGID_48_);enable-background:new    ;}
.st82{clip-path:url(#SVGID_50_);enable-background:new    ;}
.st83{clip-path:url(#SVGID_52_);enable-background:new    ;}
.st84{clip-path:url(#SVGID_54_);enable-background:new    ;}
.st85{clip-path:url(#SVGID_56_);enable-background:new    ;}
.st86{clip-path:url(#SVGID_58_);enable-background:new    ;}
.st87{clip-path:url(#SVGID_60_);enable-background:new    ;}
.st88{clip-path:url(#SVGID_62_);enable-background:new    ;}
.st89{clip-path:url(#SVGID_64_);enable-background:new    ;}
.st90{clip-path:url(#SVGID_66_);enable-background:new    ;}
.st91{clip-path:url(#SVGID_68_);enable-background:new    ;}
.st92{clip-path:url(#SVGID_70_);enable-background:new    ;}
.st93{clip-path:url(#SVGID_72_);enable-background:new    ;}
.st94{clip-path:url(#SVGID_74_);enable-background:new    ;}
.st95{clip-path:url(#SVGID_76_);enable-background:new    ;}
.st96{clip-path:url(#SVGID_78_);enable-background:new    ;}
.st97{clip-path:url(#SVGID_80_);enable-background:new    ;}
.st98{clip-path:url(#SVGID_82_);enable-background:new    ;}
.st99{clip-path:url(#SVGID_84_);enable-background:new    ;}
.st100{clip-path:url(#SVGID_86_);enable-background:new    ;}
.st101{clip-path:url(#SVGID_88_);enable-background:new    ;}
.st102{clip-path:url(#SVGID_90_);enable-background:new    ;}
.st103{clip-path:url(#SVGID_92_);enable-background:new    ;}
.st104{clip-path:url(#SVGID_94_);enable-background:new    ;}
.st105{clip-path:url(#SVGID_96_);enable-background:new    ;}
.st106{clip-path:url(#SVGID_98_);enable-background:new    ;}
.st107{clip-path:url(#SVGID_100_);enable-background:new    ;}
.st108{clip-path:url(#SVGID_102_);enable-background:new    ;}
.st109{clip-path:url(#SVGID_104_);enable-background:new    ;}
.st110{clip-path:url(#SVGID_106_);enable-background:new    ;}
.st111{clip-path:url(#SVGID_108_);enable-background:new    ;}
.st112{clip-path:url(#SVGID_110_);enable-background:new    ;}
.st113{clip-path:url(#SVGID_112_);enable-background:new    ;}
.st114{clip-path:url(#SVGID_114_);enable-background:new    ;}
.st115{clip-path:url(#SVGID_116_);enable-background:new    ;}
.st116{clip-path:url(#SVGID_118_);enable-background:new    ;}
.st117{clip-path:url(#SVGID_120_);enable-background:new    ;}
.st118{clip-path:url(#SVGID_122_);enable-background:new    ;}
.st119{clip-path:url(#SVGID_124_);enable-background:new    ;}
.st120{clip-path:url(#SVGID_126_);enable-background:new    ;}
.st121{clip-path:url(#SVGID_128_);enable-background:new    ;}
.st122{clip-path:url(#SVGID_130_);enable-background:new    ;}
.st123{clip-path:url(#SVGID_132_);enable-background:new    ;}
.st124{clip-path:url(#SVGID_134_);enable-background:new    ;}
.st125{clip-path:url(#SVGID_136_);enable-background:new    ;}
.st126{clip-path:url(#SVGID_138_);enable-background:new    ;}
.st127{clip-path:url(#SVGID_140_);enable-background:new    ;}
.st128{clip-path:url(#SVGID_142_);enable-background:new    ;}
.st129{clip-path:url(#SVGID_144_);enable-background:new    ;}
.st130{clip-path:url(#SVGID_146_);enable-background:new    ;}
.st131{clip-path:url(#SVGID_148_);enable-background:new    ;}
.st132{clip-path:url(#SVGID_150_);enable-background:new    ;}
.st133{clip-path:url(#SVGID_152_);enable-background:new    ;}
.st134{clip-path:url(#SVGID_154_);enable-background:new    ;}
.st135{clip-path:url(#SVGID_156_);enable-background:new    ;}
.st136{clip-path:url(#SVGID_158_);enable-background:new    ;}
.st137{clip-path:url(#SVGID_160_);enable-background:new    ;}
.st138{clip-path:url(#SVGID_162_);enable-background:new    ;}
.st139{clip-path:url(#SVGID_164_);enable-background:new    ;}
.st140{clip-path:url(#SVGID_166_);enable-background:new    ;}
.st141{clip-path:url(#SVGID_168_);enable-background:new    ;}
.st142{clip-path:url(#SVGID_170_);enable-background:new    ;}
.st143{clip-path:url(#SVGID_172_);enable-background:new    ;}
.st144{clip-path:url(#SVGID_174_);enable-background:new    ;}
.st145{clip-path:url(#SVGID_176_);enable-background:new    ;}
.st146{clip-path:url(#SVGID_178_);enable-background:new    ;}
.st147{clip-path:url(#SVGID_180_);enable-background:new    ;}
.st148{clip-path:url(#SVGID_182_);enable-background:new    ;}
.st149{clip-path:url(#SVGID_184_);enable-background:new    ;}
.st150{clip-path:url(#SVGID_186_);enable-background:new    ;}
.st151{clip-path:url(#SVGID_188_);enable-background:new    ;}
.st152{clip-path:url(#SVGID_190_);enable-background:new    ;}
.st153{clip-path:url(#SVGID_192_);enable-background:new    ;}
.st154{clip-path:url(#SVGID_194_);enable-background:new    ;}
.st155{clip-path:url(#SVGID_196_);enable-background:new    ;}
.st156{clip-path:url(#SVGID_198_);enable-background:new    ;}
.st157{clip-path:url(#SVGID_200_);enable-background:new    ;}
.st158{clip-path:url(#SVGID_202_);enable-background:new    ;}
.st159{clip-path:url(#SVGID_204_);enable-background:new    ;}
.st160{clip-path:url(#SVGID_206_);enable-background:new    ;}
.st161{clip-path:url(#SVGID_208_);enable-background:new    ;}
.st162{clip-path:url(#SVGID_210_);enable-background:new    ;}
.st163{clip-path:url(#SVGID_212_);enable-background:new    ;}
.st164{clip-path:url(#SVGID_214_);enable-background:new    ;}
.st165{clip-path:url(#SVGID_216_);enable-background:new    ;}
.st166{clip-path:url(#SVGID_218_);enable-background:new    ;}
.st167{clip-path:url(#SVGID_220_);enable-background:new    ;}
.st168{clip-path:url(#SVGID_222_);enable-background:new    ;}
.st169{clip-path:url(#SVGID_224_);enable-background:new    ;}
.st170{clip-path:url(#SVGID_226_);enable-background:new    ;}
.st171{clip-path:url(#SVGID_228_);enable-background:new    ;}
.st172{clip-path:url(#SVGID_230_);enable-background:new    ;}
.st173{clip-path:url(#SVGID_232_);enable-background:new    ;}
.st174{clip-path:url(#SVGID_234_);enable-background:new    ;}
.st175{clip-path:url(#SVGID_236_);enable-background:new    ;}
.st176{clip-path:url(#SVGID_238_);enable-background:new    ;}
.st177{clip-path:url(#SVGID_240_);enable-background:new    ;}
.st178{clip-path:url(#SVGID_242_);enable-background:new    ;}
.st179{clip-path:url(#SVGID_244_);enable-background:new    ;}
.st180{clip-path:url(#SVGID_246_);enable-background:new    ;}
.st181{clip-path:url(#SVGID_248_);enable-background:new    ;}
.st182{clip-path:url(#SVGID_250_);enable-background:new    ;}
.st183{clip-path:url(#SVGID_252_);enable-background:new    ;}
.st184{clip-path:url(#SVGID_254_);enable-background:new    ;}
.st185{clip-path:url(#SVGID_256_);enable-background:new    ;}
.st186{clip-path:url(#SVGID_258_);enable-background:new    ;}
.st187{clip-path:url(#SVGID_260_);enable-background:new    ;}
.st188{clip-path:url(#SVGID_262_);enable-background:new    ;}
.st189{clip-path:url(#SVGID_264_);enable-background:new    ;}
.st190{clip-path:url(#SVGID_266_);enable-background:new    ;}
.st191{clip-path:url(#SVGID_268_);enable-background:new    ;}
.st192{clip-path:url(#SVGID_270_);enable-background:new    ;}
.st193{clip-path:url(#SVGID_272_);enable-background:new    ;}
.st194{clip-path:url(#SVGID_274_);enable-background:new    ;}
.st195{clip-path:url(#SVGID_276_);enable-background:new    ;}
.st196{clip-path:url(#SVGID_278_);enable-background:new    ;}
.st197{clip-path:url(#SVGID_280_);enable-background:new    ;}
.st198{clip-path:url(#SVGID_282_);enable-background:new    ;}
.st199{clip-path:url(#SVGID_284_);enable-background:new    ;}
.st200{clip-path:url(#SVGID_286_);enable-background:new    ;}
.st201{clip-path:url(#SVGID_288_);enable-background:new    ;}
.st202{clip-path:url(#SVGID_290_);enable-background:new    ;}
.st203{clip-path:url(#SVGID_292_);enable-background:new    ;}
.st204{clip-path:url(#SVGID_294_);enable-background:new    ;}
.st205{clip-path:url(#SVGID_296_);enable-background:new    ;}
.st206{clip-path:url(#SVGID_298_);enable-background:new    ;}
.st207{clip-path:url(#SVGID_300_);enable-background:new    ;}
.st208{clip-path:url(#SVGID_302_);enable-background:new    ;}
.st209{clip-path:url(#SVGID_304_);enable-background:new    ;}
.st210{clip-path:url(#SVGID_306_);enable-background:new    ;}
.st211{clip-path:url(#SVGID_308_);enable-background:new    ;}
.st212{clip-path:url(#SVGID_310_);enable-background:new    ;}
.st213{clip-path:url(#SVGID_312_);enable-background:new    ;}
.st214{clip-path:url(#SVGID_314_);enable-background:new    ;}
.st215{clip-path:url(#SVGID_316_);enable-background:new    ;}
.st216{clip-path:url(#SVGID_318_);enable-background:new    ;}
.st217{clip-path:url(#SVGID_320_);enable-background:new    ;}
.st218{clip-path:url(#SVGID_322_);enable-background:new    ;}
.st219{clip-path:url(#SVGID_324_);enable-background:new    ;}
.st220{clip-path:url(#SVGID_326_);enable-background:new    ;}
.st221{clip-path:url(#SVGID_328_);enable-background:new    ;}
.st222{clip-path:url(#SVGID_330_);enable-background:new    ;}
.st223{clip-path:url(#SVGID_332_);enable-background:new    ;}
.st224{clip-path:url(#SVGID_334_);enable-background:new    ;}
.st225{clip-path:url(#SVGID_336_);enable-background:new    ;}
.st226{clip-path:url(#SVGID_338_);enable-background:new    ;}
.st227{clip-path:url(#SVGID_340_);enable-background:new    ;}
.st228{clip-path:url(#SVGID_342_);enable-background:new    ;}
.st229{clip-path:url(#SVGID_344_);enable-background:new    ;}
.st230{clip-path:url(#SVGID_346_);enable-background:new    ;}
.st231{clip-path:url(#SVGID_348_);enable-background:new    ;}
.st232{clip-path:url(#SVGID_350_);enable-background:new    ;}
.st233{clip-path:url(#SVGID_352_);enable-background:new    ;}
.st234{clip-path:url(#SVGID_354_);enable-background:new    ;}
.st235{clip-path:url(#SVGID_356_);enable-background:new    ;}
.st236{clip-path:url(#SVGID_358_);enable-background:new    ;}
.st237{clip-path:url(#SVGID_360_);enable-background:new    ;}
.st238{clip-path:url(#SVGID_362_);enable-background:new    ;}
.st239{clip-path:url(#SVGID_364_);enable-background:new    ;}
.st240{fill:#6A6A6A;}
.st241{fill:#B2B2B2;}
.st242{opacity:0.58;}
.st243{fill:#CED625;}
.st244{fill:#1E1E1E;}
.st245{fill:#C82F24;}